<h1>Spaces#index</h1>
<p>Find me in app/views/spaces/index.html.erb</p>


<ul>
    <% @spaces.each do |space| %>
    <li><%= link_to space.name, space_path(space) %> <%= link_to "show", space_path(space.id) %> </li>
  <% end %>
</ul>

<%= link_to "Add a new space",new_space_path %>

    <%#= link_to "Create #{@space.name}",
           # space_path(@space),
           # method: :create,
            #data: { confirm: "Do you want to create this space?" } %>

<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
