
<%#= link_to "Add a new space", new_space_path, class: "btn btn-primary"%>

<div class="mt-4">
  <div class="container text-center ">
    <h1>Make your choice</h1>
      <div class="mt-4 ">
      <%= link_to "Pool", spaces_path(query: "Pool"), class: "btn btn-primary" %>
      <%= link_to "Garden", spaces_path(query: "Garden"), class: "btn btn-primary" %>
      <%= link_to "Kitchen", spaces_path(query: "Outdoor kitchen"), class: "btn btn-primary" %>
      </div>
  </div>
  <div class="mt-4 wrapper ">
    <div id="aside" class="mt-4">
      <% @spaces.each do |space| %>
        <%= render "card", space: space %>
      <% end %>
    </div>
    <div class="mt-4" id="map"
        style="width: 100%; height: 600px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
