<%= form_tag spaces_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a space"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

<div>
  <div class="container text-center">
    <h1>Select your garden</h1>
      <div>
        <a class="btn btn-primary" href="">Pool</a>
        <a class="btn btn-primary" href="">Garden</a>
        <a class="btn btn-primary" href="">Kitchen</a>
      </div>
  </div>
  <div class="mt-4 wrapper ">
    <div id="aside" class="">
      <% @spaces.each do |space| %>
        <%= render "card", space: space %>
      <% end %>
    </div>
    <div class="" id="map"
        style="width: 100%; height: 600px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>

  </div>
</div>
