
<%= link_to "Add a new space", new_space_path %>
<%= form_tag spaces_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a space"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

<div>
  <div class="container text-center">
    <h1>Select your garden</h1>
      <div>
        <a class="btn btn-primary" href="">Pool</a>
        <a class="btn btn-primary" href="">Garden</a>
        <a class="btn btn-primary" href="">Kitchen</a>
      </div>
  </div>
  <div class="mt-4 wrapper ">
    <div id="aside" class="">
      <% @spaces.each do |space| %>
        <%= render "card", space: space %>
      <% end %>
    </div>
    <div class="" id="map"
        style="width: 100%; height: 600px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>
</div>
    <ul>
    <% @spaces.each do |space| %>
      <li>
      <% if space.user_id == current_user.id %>
        <%= "Owned" %>
      <% end %>
      <%= link_to space.name, space_path(space) %>
      <% if @bookings != nil %>  
        <% @bookings.each do |booking| %>
          <% if booking.space_id == space.id%>
            <%= "Booked" %>
          <% end %>
        <% end %>
      <% end %>      
      </li>
    <% end %>
    </ul>