<h1>Spaces#show</h1>
<p>Find me in app/views/spaces/show.html.erb</p>

<h2><%= @space.name %></h2>
<p><%= @space.type_of %></p>
<p><%= @space.check_in %></p>
<p><%= @space.check_out %></p>
<h2><%= @space.price %></h2>


<<%= link_to "Book this space now", new_booking_path %>>