<h1>Spaces#show</h1>
<p>Find me in app/views/spaces/show.html.erb</p>

<h2><%= @space.name %></h2>

<p><%= @space.style %></p>
<p><%= @space.check_in %></p>
<p><%= @space.check_out %></p>
<h2><%= @space.price %></h2>

<%# <%= link_to "Book this space now", new_booking_path %>
<%# <%= link_to "Book this space now", new_booking_path(@space.id), method: :submit %>
 <% if @space.user_id == current_user.id %>
  <%= link_to "Back", spaces_path %>
  <%= link_to "Edit", edit_space_path(@space) %>

 <% else %>
  <%= simple_form_for [ @booking ] do |f| %>
    <%= f.input :space_id, :as => :hidden, :input_html => { :value => @space.id } %>
    <%= f.submit "Book this space now", class: "btn btn-primary" %>
  <% end %>
 <% end %>

  <%# <% @bookings.each do |booking| %> %>
    <%# <% booking.space_id %> %>
  <%# <% end %> %>