<div class="container center-block text-center">
  <h2>Spaces you have booked</h2>

<% if @bookings_user[0] %>
  <ul>
    <% @bookings_user.each do |booking| %>
    
      
      <div class="container center-block text-center">
  <div class='container justify-content-center'>
    <div class="space-info">
      <% if booking.space.photo.attached? %>
        <%= cl_image_tag booking.space.photo.key, crop: :fill %>
      <% else %>
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
      <% end %>
        <div class="space-info-infos text-center pg-1">
          <h1> <%= booking.space.name %></h1>
          <p><%= booking.space.description %></p>
          <h2> Type of space : <%= booking.space.style %> </h2>
          <p><%= booking.space.address %></p>
          <h4>Reservation from <%= booking.space.check_in %> to <%= booking.space.check_out %>.</h4>
        </div>
    </div>
  </div>
</div>
    <% end %>
    
  </ul>
  <%= link_to "Back to landing", root_path, class: "btn btn-secondary" %>
  <%= link_to "Let's go book another space", spaces_path, class: "btn btn-primary"  %>

<% else %>
  <h2>You don't have any booked space yet</h2>
  <%= link_to "Let's go book a space", spaces_path, class: "btn btn-primary"  %>
<% end %>
</div>

