<div class="container center-block text-center">
  <h2>Confirmation de réservation</h2>
  <div class='container justify-content-center'>
    <div class="space-info">
      <% if @space_booked.photo.attached? %>
        <%= cl_image_tag @space_booked.photo.key, crop: :fill %>
      <% else %>
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
      <% end %>
        <div class="space-info-infos text-center pg-1">
          <h1> <%= @space_booked.name %></h1>
          <p><%= @space_booked.description %></p>
          <h2> Type of space : <%= @space_booked.style %> </h2>
          <p><%= @space_booked.address %></p>
        </div>
    </div>
    <div class="space-info text-center pg-1">
      <img src="https://www.mimosa.villas/rentals/fotos/2/1488173861c6eb57658997cfe1f8a33449088f4db6/1520189220e33dc62304a376137ff7a40829ac2b8e.jpg" />
        <div class="space-info-infos">
          <h4>Reservation from <%= @space_booked.check_in %> to <%= @space_booked.check_out %>.</h4>
        </div>
    </div>
    <%= link_to "All my bookings", bookings_path, class: "btn btn-primary" %>
  </div>
</div>