<!DOCTYPE html>
<html>
  <head>
    <title>GreenPieces</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
    <script src="https://kit.fontawesome.com/ef6a91a3ff.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= render 'shared/navbar' unless ["search", "home"].include?(params[:action]) %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
